@charset "utf-8";
/* CSS Document */
body{
	text-align:center;
	color:red;
		
}
#cabecera,#piecera{
	background:#30F;
	min-width:320px;
	max-height:10px;
	color:white;
}
#corpo{
	min-width:320px;
	min-height:350px;
}

